<?xml version="1.0" ?>
<model>
  <name>037_scissors_textured</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Chengke Sun</name>
    <email>sc17cs@leeds.ac.uk</email>
  </author>
  <description>
        037_scissors_textured from YCB benchmarks
      </description>
</model>