<?xml version="1.0" ?>
<model>
  <name>010_potted_meat_can</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Chengke Sun</name>
    <email>sc17cs@leeds.ac.uk</email>
  </author>
  <description>
        010_potted_meat_can from YCB
      </description>
</model>